body {
  background-color: rgba(242, 242, 250, 0.397);
}
.required {
  color: red;
}
em {
  text-transform: uppercase;
}
button {
  margin-top: 5%;
  margin-left: 42%;
}
form {
  margin: 0 7%;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
